body {
    background-color: blueviolet;
}

p {
    font-family: monospace;
    text-align: center;
    color: pink;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightgreen;
    font-style: italic;
    text-align: right;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
    color: azure;
    font-style: normal;
}

h2 {
    color: black;
    text-align: left;
}

h5 {
    color: blue;
    text-align: left;
}

.pizza {
    width: 50%;
}


.cake-images {
    img {
        width: 50%;
    }
}